<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>My portfolio</title>
  </head>
  <body>
    <h1>Text Tags</h1>

    <h1>Welcome to my <span style="color:red;">portfolio</span></h1>
    <h2>Welcome to my portfolio</h2>
    <h3>Welcome to my portfolio</h3>

    <p>Welcome to my portfolio</p>

    <h1>Content Tags</h1>
    <div style="background-color: bisque;">
      <ol>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
      </ol>

      <ul>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
      </ul>
    </div>

    <br />
    <br />
    <br />
    <br />
  </body>
</html>
